body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: left;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(209,227,223,255);
    padding: 20px;
    color:black
}

.content {
    max-width: 50%; 
}

.content h1 {
    font-size:15px ;
    color:mediumaquamarine;
    margin: 0;
}

.content p {
    font-size:65px ;
    margin: 10px 0;
}

.content button {
    background-color: darkgreen;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    color:white;
}

.image {
    max-width: 40%;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin:0;
    background-color:rgb(243, 245, 245);
}
.vision {
    max-width: 900px;
    margin: auto;
}
h1 {
    color: #000;
}
.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.card{
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.card img {
    width: 50px;
    display: block;
    margin-bottom: 10px;
}
.card h2 {
    margin:0;
    font-size:15px ;
}
.card p {
    font-size: 14px;
    color: #333;
}
.card button {
    padding: 10px 15px;
    border: none;
    color: white;
    font-size: 14px;
    margin-top:10px;
    border-radius: 5px;
}
.card1{
    background-color: #e3ebff;
}
.card1 button{
    background-color:#4a90e2 ;
}
.card1 button:hover{
    background-color:#357ab7 ;
}

.card2{
     background-color: #d7f5df; }
.card2 button { 
    background-color: #28a745; }
    .card2 button:hover{
        background-color:#218838 ;
    }

 .card3 {
     background-color: #fff2cc; }
.card3 button { 
    background-color: #f4b400; }
    .card3 button:hover{
        background-color:#d89e00 ;
    }

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: left;
}
.news-container {
    max-width: 900px;
    margin: auto;
}
.news-card {
    display: flex;
    align-items: center;
    gap: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.news-card img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

.news-content {
   flex:1;
}

.news-card.reverse {
    flex-direction: row-reverse;
}

.channel {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.channel img {
    width: 88px;
}

.date {
    font-size: 14px;
    color: gray;
}

button {
    background-color: #007F3D;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.donation-container {
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #F5F5F5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
main{
    max-width: 1600px;
    margin: 0 auto;
}
.donation-container h1 {
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
}

.donation-container p {
    margin-bottom: 25px;
    color: #555;
    font-size: small;
}

.donation-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.donation-option {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    background-color: white;
    color:black;
    border-radius: 5px;
    font-weight:bold;
}

.donation-option:hover {
    background-color: #C6E4D6;
}

.donation-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid#d7f5df;
    border-radius: 5px;
    text-align: center;
    

}

.donate-button {
    padding: 10px 20px;
    background-color:darkgreen;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.donate-button:hover {
    background-color: #218838;
}


